.DS_Store
xcuserdata/
cine.xcodeproj/project.xcworkspace/xcuserdata/
*.xcuserstate
cine.xcodeproj/project.xcworkspace/xcuserdata/angelo.xcuserdatad/UserInterfaceState.xcuserstate
UserInterfaceState.xcuserstate

archivo.txt
chapter2.txt
Chapter3.txt
